@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;500;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/summer-beach.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 100px;
}

@media screen and (min-width: 414px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 0.6rem;
  font-weight: 300;
  margin-top: 30px;
}

@media screen and (min-width: 414px) {
  h2 {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 1.4rem;
  }
}

#cd-timer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

#cd-timer-container .cd-timer-wrap {
  min-width: 40%;
  text-align: center;
  margin: 0 10px 20px;
}

#cd-timer-container .cd-timer-wrap p {
  font-size: 3.5rem;
  font-weight: 700;
}

@media screen and (min-width: 414px) {
  #cd-timer-container .cd-timer-wrap p {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  #cd-timer-container .cd-timer-wrap p {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #cd-timer-container .cd-timer-wrap p {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  #cd-timer-container .cd-timer-wrap p {
    font-size: 5.5rem;
  }
}

#cd-timer-container .cd-timer-wrap span {
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (min-width: 414px) {
  #cd-timer-container .cd-timer-wrap span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #cd-timer-container .cd-timer-wrap span {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  #cd-timer-container .cd-timer-wrap span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  #cd-timer-container .cd-timer-wrap span {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  #cd-timer-container {
    flex-wrap: nowrap;
  }
}
